
@{
    ViewBag.Title = "NotAllowedToDelete";
}

<br /><br />
<div class="alert alert-danger">
    <h2>Not Allowed To Delete</h2>
    You can not delete someone else's profile!
</div>
<br />
@Html.ActionLink("Return to home", "Index", "Home")

