
@{
    ViewBag.Title = "Please Log In";
}

<br /><br />
<div class="alert alert-danger">
    <h2>Please Log In</h2>
    You can not view profiles until you are logged in!
</div>
<br />
@Html.ActionLink("Return to home", "Index", "Home")